.delivery-collections {
    /* font-size: 30px; */
    background-color: var(--middle-bg);
    padding: 40px 0;
}
.collection-title {
    color: rgb(28, 28, 28);
    font-size: 30px;
    line-height: 12px;
    font-weight: 500;
    margin: 0px 0px 32px;
}

