.max-width {
    max-width: 1200px;
    margin: 0 auto;
}

.absolute-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cursor-pointer {
    cursor: pointer;
}

.collection-title {
    color: var(--middle-text);
    font-size: 30px;
    margin: 0px 0px 32px;
    line-height: 1.2;
    font-weight: 500;
}